:root {
    
    --white:    #fff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #9ca3af;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;

    --emerald-500: #10b981;

}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--emerald-500);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

    background: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body, input , button, textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;


} 

